/.godot
/.godot
LibraryLib.csproj
/.godot/mono
.godot/mono/temp/obj/Debug/LibraryLib.AssemblyInfo.cs
libs/sts2.dll
.godot/mono/temp/obj/project.nuget.cache
libs/sts2.dll
libs/sts2.dll
.godot/mono/temp/obj/project.nuget.cache
libs/sts2.dll
libs/sts2.dll
*.dll
*.md
*.ps1
*.sln
*.pck
build/
.codex-tmp/